<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>NWPUBUS</display-name>
  <welcome-file-list>
    <welcome-file>Login.jsp</welcome-file>
    <welcome-file>Register.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>FeedBackServlet</display-name>
    <servlet-name>FeedBackServlet</servlet-name>
    <servlet-class>servlet.FeedBackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FeedBackServlet</servlet-name>
    <url-pattern>/FeedBackServlet</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>OrderServlet</display-name>
    <servlet-name>OrderServlet</servlet-name>
    <servlet-class>servlet.OrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderServlet</servlet-name>
    <url-pattern>/OrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePasswdServlet</display-name>
    <servlet-name>ChangePasswdServlet</servlet-name>
    <servlet-class>servlet.ChangePasswdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePasswdServlet</servlet-name>
    <url-pattern>/ChangePasswdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendVerification</display-name>
    <servlet-name>SendVerification</servlet-name>
    <servlet-class>servlet.SendVerification</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendVerification</servlet-name>
    <url-pattern>/SendVerification</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>CancelServlet</display-name>
    <servlet-name>CancelServlet</servlet-name>
    <servlet-class>servlet.CancelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  
    <servlet-name>CancelServlet</servlet-name>
    <url-pattern>/CancelServlet</url-pattern>
  </servlet-mapping>

	<servlet>
		<description></description>
		  <display-name>FeedbkCancel</display-name>
		<servlet-name>FeedbkCancel</servlet-name>
		<servlet-class>servlet.FeedbkCancel</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FeedbkCancel</servlet-name>
		<url-pattern>/FeedbkCancel</url-pattern>
	</servlet-mapping>
		<servlet>
		<description></description>
		  <display-name>AskLeaveServlet</display-name>
		<servlet-name>AskLeaveServlet</servlet-name>
		<servlet-class>servlet.AskLeaveServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AskLeaveServlet</servlet-name>
		<url-pattern>/AskLeaveServlet</url-pattern>
	</servlet-mapping>
  <servlet>
  	<servlet-name>AddLineServlet</servlet-name>
  	<servlet-class>servlet.AddLineServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AddLineServlet</servlet-name>
  	<url-pattern>/AddLineServlet</url-pattern>
  </servlet-mapping>
    <servlet>
  	<servlet-name>DealQJServlet</servlet-name>
  	<servlet-class>servlet.DealQJServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>DealQJServlet</servlet-name>
  	<url-pattern>/DealQJServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>RefuseQJServlet</servlet-name>
  	<servlet-class>servlet.RefuseQJServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>RefuseQJServlet</servlet-name>
  	<url-pattern>/RefuseQJServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>DDYCancelServlet</servlet-name>
  	<servlet-class>servlet.DDYCancelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>DDYCancelServlet</servlet-name>
  	<url-pattern>/DDYCancelServlet</url-pattern>
  </servlet-mapping>
    <servlet>
  	<servlet-name>AddNoticeServlet</servlet-name>
  	<servlet-class>servlet.AddNoticeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AddNoticeServlet</servlet-name>
  	<url-pattern>/AddNoticeServlet</url-pattern>
  </servlet-mapping>
</web-app>